/*CONTACT ME PAGE*/

$azul: #4A33FF;
$negro: #151113;

.h1-contact-me{
    color: $negro;
    font-family: codec-ultra;
    font-size: 6rem;
    text-align: center;
    margin-top: 12rem;
}

@media only screen and (max-width: 450px) {
    .h1-contact-me{
        font-size: 5rem;
    }
}